<aside class="sidebar" [class.collapsed]="collapsed" [class.mobile-open]="mobileOpen">
  <div class="sidebar-header">
    <div class="logo">
      <i class="fas fa-cube"></i>
      <span class="logo-text">Hao System</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <ng-container *ngFor="let item of menuItems">
        <li class="nav-item" [class.active]="isActive(item.route)" [class.has-active-child]="hasActiveChild(item)">
          <a class="nav-link" (click)="toggleMenu(item)" [title]="item.label">
            <i [class]="item.icon"></i>
            <span class="nav-text">{{ item.label }}</span>
            <i *ngIf="item.children" 
               class="fas fa-chevron-down expand-icon" 
               [class.rotated]="item.expanded"></i>
          </a>
          
          <ul class="sub-menu" *ngIf="item.children && item.expanded">
            <ng-container *ngFor="let child of item.children">
              <li class="nav-item" [class.active]="isActive(child.route)" [class.has-active-child]="hasActiveChild(child)">
                <a class="nav-link" (click)="toggleMenu(child)">
                  <i [class]="child.icon"></i>
                  <span class="nav-text">{{ child.label }}</span>
                  <i *ngIf="child.children" 
                     class="fas fa-chevron-down expand-icon" 
                     [class.rotated]="child.expanded"></i>
                </a>
                
                <ul class="sub-menu nested" *ngIf="child.children && child.expanded">
                  <li *ngFor="let subChild of child.children" 
                      class="nav-item" 
                      [class.active]="isActive(subChild.route)">
                    <a class="nav-link" (click)="toggleMenu(subChild)">
                      <i [class]="subChild.icon"></i>
                      <span class="nav-text">{{ subChild.label }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <a class="logout-btn" (click)="logout()" [title]="'Logout'">
      <i class="fas fa-sign-out-alt"></i>
      <span class="logout-text">Logout</span>
    </a>
  </div>
</aside>
